<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<!-- Esto le dice al navegador que nuestra aplicación tiene un manifest.json y lo usará para convertirla en PWA. -->
		<!-- -------------------------------------------- -->
		<link rel="manifest" href="/manifest.json">
		<!-- -------------------------------------------- -->

		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
